.category-cover{
    height: 500px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    margin-top: 198px;
    /* background-color: aqua; */
}

.inspirational-cover{
    background-image: url(../../imgs/categories/category-inspirational-cover.jpg);

}

.motivational-cover{
    background-image: url(../../imgs/categories/category-motivational-cover.jpg);
    
}

.time-management-cover{
    background-image: url(../../imgs/categories/category-time-management-cover.jpg);
    
}

.goal-setting-cover{
    background-image: url(../../imgs/categories/category-goal-setting-cover.jpg);
    
}

.spiritual-cover{
    background-image: url(../../imgs/categories/category-spiritual-cover.jpg);
}

.container-grid{
    min-height: 900px;
    display: flex;
    justify-content: flex-start;
    /* margin-top: 200px; */

}


.left-sidebar{
    width: 20%;
    padding: 0;
   
    /* background-color: rgb(34, 34, 34); */
}

.right-content{
    width: 80%;
}
.right-content h1{
    text-align: left;
    font-size: 40px;
}
.authors{
    padding: 60px;
    margin-left: 30px;
    list-style:circle;
    background-color: rgb(193, 193, 193);
     background-color: rgb(248, 248, 248);
    margin-top: 80px;
 
}

.authors h3{
    margin: 0;
}
.authors li{
 margin: 15px;
}
.authors li a{
    text-decoration: none;
    color: rgb(0, 123, 255);
   
    font-size: 20px;
    font-weight: 300;
}
.authors li a:hover{
    font-weight: bold;
}

.categories-menu-list{
    list-style: none;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    padding: 20px;

}

.categories-menu-list li a{
    text-decoration: none;
   color: rgb(49, 49, 49);
    margin:0 20px ;
    font-size: 20px;
}
.categories-menu-list li a:hover{
    font-weight: bold;
}
.video-content{
    /* width: 80%; */
    padding: 50px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(230, 230, 230);
    background-color: rgb(248, 248, 248);
}

.video{
    width: 300px;
}

.video h4{
    font-weight: 300;
}

.video-content .video{
    margin: 10px 20px;
}


