{% extends "app/base.html" %}
{% load static %}
{% block csslink %}
  <link rel="stylesheet" href="{% static 'css/desktop/blog/list-posts.css' %}">
{% endblock %}
{% block hero %}
<div class="blog-cover">
  <h1>Blog Articles</h1>
</div>

{% endblock %}

{% block main %}
<section class="blog-list">
  <!-- <h2 class="section-blog-title">Blog Articles</h2> -->
  <div class="articles-wraper">
    {% for post in posts %}

    <div class="post-wraper">
      {% if post.image %}
        <img class="post-img" src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
      {% endif %}
    

      <article class="post-content">
          <h3>{{ post.title }}</h3>
          <p>By {{ post.author }} on {{ post.created_at|date:"F j, Y" }}</p>
          <p class="post-body">{{ post.content|safe|striptags|truncatewords:30 }}</p>
          <a class="post-read-more" href="{% url 'post_detail' slug=post.slug %}">Read More</a>
      </article>
    </div>
    
    
    {% endfor %}
    <div class="pagination">
        {% if posts.has_previous %}
            <a href="?page=1{% if querystring %}&{{ querystring }}{% endif %}">« First</a>
            <a href="?page={{ posts.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">‹ Prev</a>
        {% endif %}

        {% for num in posts.paginator.page_range %}
            {% if num > posts.number|add:'-3' and num < posts.number|add:'3' %}
            {% if posts.number == num %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}{% if querystring %}&{{ querystring }}{% endif %}">{{ num }}</a>
            {% endif %}
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">Next ›</a>
            <a href="?page={{ posts.paginator.num_pages }}{% if querystring %}&{{ querystring }}{% endif %}">Last »</a>
        {% endif %}
    </div>

  </div>
</section>

{% endblock %}