/* body{
    background-color: red;
} */

.cover-bookshop{
    height: 350px;
    margin-top: 199px;   
    background:linear-gradient(0deg, rgba(40, 40, 40, 0.3), rgba(62, 62, 62, 0.3)), url('../../imgs/bookshop-cover.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
     
}

.cover-bookshop h1{
    color: white;
    font-size: 50px;
}

.books-category-menu{
    background-color: white;
    padding: 20px;
    width: 15%;
    list-style: none;
    position: absolute;
    top: 40px;  
    left: 150px;
    box-shadow: 10px 10px 26px 0px rgba(214,214,214,0.75);
    -webkit-box-shadow: 10px 10px 26px 0px rgba(214,214,214,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(214,214,214,0.75);
    border-radius: 10px;
}
.books-category-menu h2{
    text-align: center;
    background-color: rgb(43, 171, 226);
    color: white;
    padding: 10px;
    width: 360px;
    margin: 0 auto;
    position: relative;
    right: 47px;
    border-radius: 20px;
    font-size: 21px;
}


.books-category-menu li a{
    text-decoration: none;
    margin: 20px;
    /* padding: 20px; */
    font-size: 20px;
    display: block;
    color: rgb(43, 171, 226);
    /* display: inline-block; */
    width: 85%;
    width: 80%;


}

.books-category-menu li a:hover{
    /* background-color: rgb(80, 191, 255); */
    color: rgb(5, 97, 151);
    /* border-bottom: 1px solid rgb(5, 97, 151);; */
}


/* featured categories */


.featured-categories-wraper{
    display: flex;
    justify-content: center;
    padding: 40px 0 0 0;

   
}
.featured-category-wraper{
    width: 400px;
    height: 250px;
    margin: 0 30px;
    background-color: rgb(249, 249, 249);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        box-shadow: 10px 10px 35px 4px rgba(219,219,219,0.22);
    -webkit-box-shadow: 10px 10px 35px 4px rgba(219,219,219,0.22);
    -moz-box-shadow: 10px 10px 35px 4px rgba(219,219,219,0.22);
}
.featured-category-wraper h4{
    margin-top: 0;
    color: rgb(95, 137, 160);
    font-size: 20px;
}
.featured-category{
   
  
    
    display: flex;
    align-items: center;
   
}
.featured-category > *{
    margin: 10px;
}
.featured-category img{
    width: 150px;
    height: 125px;
    /* margin-left: 20px; */
}

.featured-category p {
    width: 100%;
    /* margin: 10px; */
  
    font-size: 20px;
}

.enthousiasm{
    font-size: 22px;
    font-weight: bold;
}

.learn-more-book-category{
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(95, 137, 160);
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    display: inline-block;
}

/* end featured categories */

/* featured books */
.featured-books{
    padding: 10px 0 100px 0;
    background-color: rgb(247, 249, 250);
    
}

.featured-books h2{
    /* position: relative; */
   
    color: rgb(95, 137, 160);
    /* left: 200px;
    bottom: 20px; */
    margin-left: 200px;
    padding-bottom: 20px;
}

.featured-books-wraper{
    display: flex;
    justify-content: center;

}

.star-book{
    border: 1px solid rgb(210, 210, 210);
    border-radius: 20px;
    width: 350px;
    
    
}

.star-book-item{
    text-align: center;
    padding: 20px;
}

.star-book-item img{
    width: 300px;
    height: 350px;
}

.rest-books{
    display: flex;
    justify-content: center;
    align-items: center;

}
.book{
    width: 200px;
    margin: 10px 40px;
    border: 1px solid rgb(210, 210, 210);
    padding: 20px 40px;
    border-radius: 20px;
}
.book img{
    width: 200px;
    height: 250px;
    
}

.book h4{
    height: 59px;
}

.buy-book{
  background-color: rgb(108, 177, 212);
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  margin-top: 0px;
  display: inline-block;
}

.buy-book:hover{
   background-color: rgb(94, 154, 183);
}

.view-more-books{
  text-align: center;
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  color: rgb(0, 146, 224);
}
.view-more-books:hover{
    color: rgb(0, 121, 186);
    /* color: white; */
}

/* end featured books */


/* tabbed categories books */
.tabs {
  max-width: 90%;
  margin: 20px auto;
  font-family: sans-serif;
}

.tab-buttons {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab-btn {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: #f2f2f2;
  border: none;
  outline: none;
  font-size: 16px;
  transition: background 0.3s;
}

.tab-btn:hover {
  background: #e0e0e0;
}

.tab-btn.active {
  background: white;
  border-bottom: 2px solid #007BFF;
  font-weight: bold;
  color: rgb(66, 115, 141);
}

.tab-pane {
  display: none;
  padding: 15px;
  background: white;
}

.tab-pane.active {
  display: block;
}

.tab-wraper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-heading{
    color: rgb(95, 137, 160);
    text-align: center;
    margin-bottom: 60px;
    
}