{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/desktop/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop/homepage.css' %}">
    <script src="https://kit.fontawesome.com/d495971c43.js" crossorigin="anonymous"></script>
    {% if is_coach_story %}
        <link rel="stylesheet" href="{% static 'css/desktop/story.css' %}">
    {% elif is_video_category %}
        <link rel="stylesheet" href="{% static 'css/desktop/category.css' %}">
    {% endif %}

    {% block csslink %}

    {% endblock %}
</head>
<body>
    <header>
        <div class="sticky-header">
            <div class="top-header">
                <div class="top-header-wraper">
                    <img class="logo" src="{% static 'imgs/logo.png' %}" alt="">

                    <p class="slogan">Life will never be the same again</p>

                    <div class="contact">
                        <p><strong>Email:</strong> secretknowhow@gmail.com</p>
                        <p><strong>Tel:</strong> +357 96916096</p>
                    
                        
                    </div>

                </div>
           
            </div>

            <nav class="main-nav">
                <ul class="menu">
                    <li><a class="menu-item" href="{% url 'homepage' %}">Home</a></li>
                    <div class="dropdown">
                         
                        <button class="dropbtn">Videos</button>
                        <div class="dropdown-content">
                           
                            {% for video_category in video_categories %}
                            <li><a class="menu-item-dropdown" href="{% url 'video_category_detail' slug=video_category.slug %}">{{video_category}}</a></li>
                            {% endfor %}
                        </div>
                    </div>                 
                     <li><a class="menu-item" href="{% url 'post_list' %}">Blog</a></li> 
                    <li><a class="menu-item" href="{% url 'homepage' %}">Bookshop</a></li> 
                </ul>
            </nav>
        </div>
       

        {% block hero %}
    
        {% endblock %}

    </header>

    <main>
        {% block main %}

        {% endblock %}
    </main>
    
    <footer>

    </footer>
    
    <script src="{% static 'js/slider.js' %}"></script>
</body>
</html>