{% extends 'app/base.html' %}
{% load static %}
{% block title %}Homepage - MindlySpark{% endblock %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/desktop/homepage.css' %}">
{% endblock %}

{% block hero %}
    <div class="slider">
        <div class="slides">
            <div class="slide slide1 ">
                <hgroup>
                    <h1 class="heading">Unlock Your True Potential</h1>
                    <h2 class="sub-heading">Every great journey begins with a single decision. Start yours today.</h2>
                </hgroup>
            </div>

            <div class="slide slide2" >
                <hgroup>
                    <h1 class="heading">Fuel Your Mind. Transform Your Life.</h1>
                    <h2 class="sub-heading">Empower yourself with knowledge, discipline, and daily growth.</h2>
                </hgroup>
                
            </div>
            <div class="slide slide3" >
                <hgroup>
                    <h1 class="heading">Rise Above Limits</h1>
                    <h2 class="sub-heading">Break free from doubt and step boldly into your greatness.</h2>
                </hgroup>            
            </div>
        </div>

        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </div>
{% endblock %}




{% block main %}
    <section class="about-us">
        <article>
            <h3>About Us</h3>
            <p>At <strong>MindlySpark</strong>, we believe that every person carries <strong>untapped potential</strong> waiting to be awakened. Our mission is to ignite that spark by sharing powerful videos, life-changing stories, and transformative wisdom from the world’s most inspiring personal development coaches. From humble beginnings to <strong>global impact,</strong> these stories prove that no obstacle is too big and no dream too distant. Whether you're seeking motivation, clarity, or the next step on your growth journey, this is your space to rise, reflect, and transform. Because your <strong>story isn’t over</strong>—it’s just getting started.</p>
        </article>

    </section>

    <section class="success-stories">
        <h3 class="success-stories-title">Inspirational Stories</h3>
        <div class="success-stories-wraper">
            {% for story in stories %}
                <div class="success-story">
                    <h4>{{story.coach_name}}</h4>
                    <img src="{{ story.coach_img.url }}" alt="{{ story.name }}">
                    <a href="{% url 'coach_story_detail' slug=story.slug %}" class="view-story">View Story</a>
                </div>
            {% endfor %}

        </div>
    </section>
    
    <section class="posts-section">
        <h3 class="blog-section-title">Blog Articles</h3>
        <div class="posts-wraper">
            {% for post in posts %}

            <div class="post-wraper">
                {% if post.image %}
                    <img class="post-img" src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
                {% endif %}
                

                <article class="post-content">
                    <h4 class="post-title">{{ post.title }}</h4>
                   
                    <p class="post-body">{{ post.content|safe|striptags|truncatewords:10 }}</p>
                    <!-- <p class="post-author">By {{ post.author }} on {{ post.created_at|date:"F j, Y" }}</p> -->
                   
                </article>
                 <a class="post-read-more" href="{% url 'post_detail' slug=post.slug %}">Read More</a>
            </div>
            
            
            {% endfor %}
        </div>
        <a href="{% url 'post_list' %}" class="view-more-posts">View More</a>
    </section>

    <section class="featured-videos">
        
        <div class="featured-videos-wraper">
            <h3 style="text-align: center;">Featured Videos</h3>
            <div class="videos">
                {% for featured_video in featured_videos %}
                <iframe width="600" height="350" src="{{ featured_video.get_youtube_embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% endfor %}
            </div>
            <a href="{% url 'video_category_detail' slug='Inspirational' %}" class="view-more-videos">View More</a>
        </div>

    </section>


    <section class="books-section">
        <div class="books-wraper">
            <h3>Recommended Books</h3>
            <div class="books">
                {% for featured_book in featured_books %}
                <div class="book">
                    <img src="{{featured_book.cover_image.url}}" alt="">
                    <h4 class="book-title">{{featured_book.author}} - {{ featured_book.title }}</h4>
                    <a href="{{featured_book.amazon_link}}" class="buy-book">Buy Book</a>
                </div>
                {% endfor %}
             

            </div>

        </div>
        
    </section>
{% endblock %}

   